@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
	background-image: url("back.png");
	background-repeat: no-repeat;
	font-family: "Lato" ;
}
.wrap {
	width:294px;
	height: auto;
	margin: auto;
	margin-top: 11%;
}

img.brand {
	width: 200px;
}
.avatar {
	width: 100%;
	margin: auto;
	border-radius: 100px;
	position: relative;
	bottom: 94px;
}
.avatar img {
	border-radius: 100px;
	margin: auto;
	display: block;
}
.wrap input {
	border: none;
	background: #fff;
    font-family:Lato ;
    font-weight:700 ;
	display: block;
	height: 40px;
	outline: none;
	width: calc(100% - 24px) ;
	margin: auto;
	padding: 6px 12px 6px 12px;
}
.bar {
	width: 100%;
	height: 1px;
	background: #fff ;
}
.bar i {
	width: 95%;
	margin: auto;
	height: 1px ;
	display: block;
	background: #d1d1d1;
}
.wrap input[type="text"] {
	border-radius: 7px 7px 0px 0px ;
}
.wrap input[type="password"] {
	border-radius: 0px 0px 7px 7px ;
}
#lname {
	border-radius: 0px;
}
#email {
	border-radius: 8px 8px 0px 0px;
}
.forgot_link {
	color: #83afdf ;
	color: #83afdf;
	text-decoration: none;
	font-size: 11px;
	position: relative;
	left: 193px;
	top: -36px;
}
.wrap button {
	width: 100%;
	border-radius: 7px;
	background: #8796A1;
	text-decoration: center;
	border: none;
	color: #FFF;
    margin-top: 6px;
	padding-top: 14px;
	padding-bottom: 14px;
	outline: none;
	font-size: 13px;	
	border-bottom: 3px solid #1C3649;
	border-right: 2px solid #1C3649; 
	cursor: pointer;
}






@media (min-width:320px){
	img.brand {
		width: 146px;
	}
	.avatar {
		bottom: 0px;
	}
	div.wrap {
		margin-top: 3%;
	}
}

@media (min-width:406px){
	img.brand {
		width: 168px;
	}
}

/*@media (min-width:618px){
	.avatar {
		bottom: 29px;
	}
}*/

@media (min-width:1116px){
	.avatar {
		bottom: 46px;
	}
}

@media (min-width:1117px){
	div.wrap {
		width: 294px;
		margin-top: 11%;
	}
	div.avatar {
		bottom: 94px;
	}
	img.brand {
		width: 262px;
	}
}

/*at 1117 wide .avatar bottom = 46px
 at 618 wide .avatar bottom = 29px*at 406 wide image.brand width = 168px
 320 wide image.brand width = 146px
  .avatar bottom = 0px
div.wrap margin-top 3%*/