@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

* {
  /* Layout Declarations */
  box-sizing: border-box;
}

body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    font-family: "Lato" ;

}

h1 {
  color: #69786c;
}

/* Link Styles */
a {
  /* Typography Declrations */
  font-weight: bold;
  text-decoration: none;
  color: #e0d1be;
}

a:hover {
  /* Tyopography Declarations */
  color: #69786c;
}

a:visited {
  /* Typography Declarations */
  color: #c9cebf;
}

/* General Styles */
.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
    padding: 3em 0;
}

/*jeremy face*/
.masthead > img{
  max-height: 100px;
  border-radius: 150%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #166DAA;
}

/*hi i'm*/
.masthead-intro {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
    /* Typography Declarations */
    color: #FFFFFF;
}

.masthead-heading {
/* Layout Declarations */
  margin-top: 0.5em;
  /* Typography Declarations */
  color: #166DAA;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-shadow: 0px 3px 2px #05426D;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.social {
  padding: 0;
  list-style: none;
}

.social > li {
    display: inline-block;
    margin-right: 1em;
}

.questions-section > p,
.introduction-section > p,
.location-section > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
    color: #36271d;
}

section > h1 {
  margin-top: 2em;
}


.content-footer {
  /* Layout Declarations */
  margin-top: 5em;
  padding: 4em 0;
  /* Appearance Rules */
  background-color: #698d9b;
}

.content-footer > p {
  /* Typography Declarations */
  color: white;
}

#bg {
  position: absolute; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.wrap {
  width:250px;
  height: auto;
  margin: auto;
  margin-top: 10%;
}
.avatar {
  width: 100%;
  margin: auto;
  width: 65px;
  border-radius: 100px;
  height: 65px;
  background: #448ed3 ;
  position: relative;
  bottom: -15px;
}
.avatar img {
  width: 55px;
  height: 55px;
  border-radius: 100px;
  margin: auto;
  border:3px solid #fff;
  display: block;
}
.wrap input {
  border: none;
  background: #fff;
  font-family:Lato ;
  font-weight:700 ;
  display: block;
  height: 40px;
  outline: none;
  width: calc(100% - 24px) ;
  margin: auto;
  padding: 6px 12px 6px 12px;
}
.bar {
  width: 100%;
  height: 1px;
  background: #fff ;
}
.bar i {
  width: 95%;
  margin: auto;
  height: 1px ;
  display: block;
  background: #d1d1d1;
}
.wrap input[type="text"] {
  border-radius: 7px 7px 0px 0px ;
}
.wrap input[type="password"] {
  border-radius: 0px 0px 7px 7px ;
}
.forgot_link {
  color: #83afdf ;
  color: #83afdf;
  text-decoration: none;
  font-size: 11px;
  position: relative;
  left: 193px;
  top: -36px;
}
.wrap button {
  width: 100%;
  border-radius: 7px;
  background: #b6ee65;
  text-decoration: center;
  border: none;
  color: #51771a;
  margin-top:-5px;
  padding-top: 14px;
  padding-bottom: 14px;
  outline: none;
  font-size: 13px;  
  border-bottom: 3px solid #307d63;
  cursor: pointer;
}
/*LOGIN SECTION CSS*/
.wrap {
  width:250px;
  height: auto;
  margin: auto;
  margin-top: 10%;
}
.avatar {
  width: 100%;
  margin: auto;
  width: 65px;
  border-radius: 100px;
  height: 65px;
  background: #448ed3 ;
  position: relative;
  bottom: -15px;
}
.avatar img {
  width: 55px;
  height: 55px;
  border-radius: 100px;
  margin: auto;
  border:3px solid #fff;
  display: block;
}
.wrap input {
  border: none;
  background: #fff;
  font-family:Lato ;
  font-weight:700 ;
  display: block;
  height: 40px;
  outline: none;
  width: calc(100% - 24px) ;
  margin: auto;
  padding: 6px 12px 6px 12px;
}
.bar {
  width: 100%;
  height: 1px;
  background: #fff ;
}
.bar i {
  width: 95%;
  margin: auto;
  height: 1px ;
  display: block;
  background: #d1d1d1;
}
.wrap input[type="text"] {
  border-radius: 7px 7px 0px 0px ;
}
.wrap input[type="password"] {
  border-radius: 0px 0px 7px 7px ;
}
.forgot_link {
  color: #83afdf ;
  color: #83afdf;
  text-decoration: none;
  font-size: 11px;
  position: relative;
  left: 193px;
  top: -36px;
}
.wrap button {
  width: 100%;
  border-radius: 7px;
  background: #b6ee65;
  text-decoration: center;
  border: none;
  color: #51771a;
  margin-top:6px;
  padding-top: 14px;
  padding-bottom: 14px;
  outline: none;
  font-size: 13px;  
  border-bottom: 3px solid #307d63;
  cursor: pointer;
}

/* Responsive Resizing */
@media screen and (max-width: 500px) {
  .masthead {
    padding:  3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
  .introduction-section,
  .questions-section,
  .location-section {
    margin: 10px;
  }
}